@import "_partials/mixins";
@import "_partials/typography";
@import "_partials/variables";
@import "_global/nav";
@import "_global/footer";
@import "_global/social_icons";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
}
@media (max-width: 768px) {
  #footer {
    height: 140px;
  }
}

// Custom spaceings
.big-content-top {
	padding-top: 30px;
}
.big-content-bottom {
	padding-bottom: 30px;
}
.small-content-top {
	padding-top: 10px;
}
.small-content-bottom {
	padding-bottom: 10px;
}
.page-header_center {
  text-align: center;
}
// Center Row
.row-centered {
    text-align:center;
}
// Center Col
.col-centered {
    margin: 0 auto;
    float: none;
}


      #search-container {
        max-width: 40em;
        padding: 1em;
        margin: 1em auto;
        border: 1px solid lightgrey;
      }
      #search-input {
        display: inline-block;
        padding: .5em;
        width: 100%;
        font-size: 0.8em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

.page-content {
  .main{
  float:left;
  }
  .sidebar{
    float:right;
  }
}
#landing {
  padding-top: 75px;
}
