// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    padding-top: 75px;

    .name {}

    .text {}

    .social {
        text-align: right;

        .social-icon {
            width: 40px;
            height: 40px;
            font-size: 24px;
            margin-right: 10px;
            padding-top: 8px;
            border-radius: 50%;
        }
    }

    .links {
        text-align: left;

        a {
            display: inline-block;
            padding-top: 10px;
        }
    }

    .p-0 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.social-icon-about {
    @extend .social-icon;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 8px;
    border-radius: 50%;
}
@media (max-width: 991px) {
  .about {
    .social {
      text-align: center;

    }
    .links {
      text-align: center;
    }
  }
}
