// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    padding-top: 100px;

    .name , .text {
        font-family: $main-font;
        color: #000000;
        width: 40%;
        margin: 0 auto;
    }

    .name {
        font-size: 1.5em;
        color: $brand-color;
    }

    .text {
        font-size: 1.15em;
    }

    .other-links_disabled {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .social {
        text-align: right;

        ul {
            padding-left: 1em;

            li {
                display: flex;
                float: right;
            }
        }

        .social-icon {
            @extend .social-icon;

            background-color: transparent;
            padding-top: 0px;
            border-radius: 0px;
            margin-right: 10px;
        }
    }

    .links {
        text-align: left;

        a {
            display: inline-block;
        }
    }

    .p-0 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 991px) {
    .about {
        .social {
            text-align: center;
        }

        .links {
            text-align: center;
        }
    }
}
