// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------
$background_color_1: black;
$background_color_2: white;

.hero {
    height: 350px;
    background-color: $background_color_1;
    background-image: url(../images/hero_bg.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero-profile {
    position: absolute;
    bottom: -85px;
    width: 100%;
}

.hero-profile-img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

    img {
        background-color: $background_color_2;
        border-radius: 100%;
        border: 10px solid #4673A8;
        width: 175px;
        height: 175px;
    }
}
