// -----------------------------------------------------------------------------
// This file contains all styles related to the page header component.
// -----------------------------------------------------------------------------
.page_header {
    color: white;
    height: 100%;
    margin: 0px;
    .inner {
        background-color: transparent !important;
        padding-top: 125PX;
        padding-bottom: 75px;

        .header {
            font-family: $main-font;
            color: #ffffff;
            font-weight: 700;
            font-size: 2em;
        }
    }
}
