// -----------------------------------------------------------------------------
// This file contains all styles related to the blank component.
// -----------------------------------------------------------------------------
.read-time {
    display: inline;

    .time {
        display: inline;
    }

    .text {
        display: inline;
    }
}
