// -----------------------------------------------------------------------------
// This file contains all styles related to the blank component.
// -----------------------------------------------------------------------------
.read-time {
    display: inline;

    .time {
        display: inline;
    }

    .text {
        display: inline;
    }
}

.post-tags {
    display: inline;
    a {
        color: $label-tag-text;
        text-decoration: none;

        &:hover {
            color: $label-tag-text_hover;
        }
    }
}
