// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------
.post-sidebar {
    .profile-pic {
        img {
            background-color: #ffffff;
            border-radius: 100%;
            border: 4px solid $brand-color;
            width: 175px;
            height: 175px;
        }
    }

    .social_links {
        text-align: center;

        li {
            display: flex;
            float: right;
        }

        .social-icon {
            @extend .social-icon;

            background-color: transparent;
            padding-top: 0px;
            border-radius: 0px;
            margin-right: 10px;
        }
    }

    .websites_links {
      text-align: center;
        &:hover {}
    }
}
