// -----------------------------------------------------------------------------
// This file contains all styles related to the blank component.
// -----------------------------------------------------------------------------
.post-meta {
    .read-time {
        display: inline;

        .time {
            display: inline;
        }

        .text {
            display: inline;
        }
    }

    .post-tags {
        display: inline;

        a {
            color: $label-tag-text;
            text-decoration: none;

            &:hover {
                color: $label-tag-text_hover;
            }
        }
    }

    .meta-icons {
        color: $brand-color;
        font-size: 1.5em;
    }
    .meta-text {
      font-family:$second-font;
      font-size: 1em;
    }
}
