// -----------------------------------------------------------------------------
// This file contains all styles related to the blank component.
// -----------------------------------------------------------------------------
.post-meta {
    .meta-icons {
        color: $brand-color;
        font-size: 1.5em;
    }

    .meta-text {
        font-family: $second-font;
        font-size: 1em;
        display: inline;
    }

    a {
        text-decoration: none;
    }
}
