<div class="container about">
  <div class="col-md-12">
    <div class="name text-center">
      {{ site.data.settings.about.name }}
    </div>
    <div class="text">
      {{ site.data.settings.about.text }}
    </div>
  </div>
  <div class="row">
    <div class="col-centered">
      <div class="col-md-6 col-sm-12 p-0">
        <div class="social">
          <ul>
            {% for item in site.data.settings.social %}
            <li>
              <a href="{{ item.url }}">
                <i class="fab {{ item.icon }} social-icon {{ item.color }}" aria-hidden="true"></i>
              </a>
            </li>{% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-0">
        <div class="links">
          {% for item in site.data.settings.about.links %}
          <a href="{{ item.url}}">{{ item.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
