<div class="container about">
  <div class="col-md-12">
    <div class="name">
      {{ site.data.settings.about.name }}
    </div>
    <div class="text">
      {{ site.data.settings.about.text }}
    </div>
  </div>
  <div class="row">
    <div class="col-centered">
      <div class="col-md-6 p-0">
        <div class="social">
          {% for item in site.data.settings.social %}
          <a href="{{ item.url }}">
            <i class="fa {{ item.icon }} social-icon-about {{ item.color }}" aria-hidden="true"></i>
          </a>{% endfor %}
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="links">
          {% for item in site.data.settings.about.links %}
          <a href="{{ item.url}}">{{ item.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
