<div class="row">
  <div class="col-md-3">
    <i class="fa fa-calendar"></i>
    <time datetime="{{ post.date | date:" %Y-%m-%d " }}">{{ post.date | date:"%b %d, %Y" }}</time>
  </div>
  {%if post.comments %}
  <div class="col-md-3">
    <i class="fa fa-comments"></i>
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}#disqus_thread">
      <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ site.baseurl }}{{ post.url}}">No Comments</span>
    </a>
  </div>
  {% endif %}
  <div class="col-md-3">
    <i class="fa fa-clock-o"></i>
    <div class="read-time">
      <span class="read-time time">
        {% capture words %} {{ post.content | number_of_words | minus: 250 }} {% endcapture %} {% unless words contains "-" %} {{
        words | plus: 250 | divided_by: 180 }} {% endunless %}
      </span>
      <div class="text">
        minute read
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <i class="fa fa-tags">
      <div class="post-tags">
        {% for tag in post.tags limit:4 sort %}
        <a href="{{ site.url }}{{ site.baseurl }}/tags/#{{ tag | uri_escape }}">{{ tag }}</a>
        {% endfor %}
      </div>

    </i>
  </div>
</div>
