<div class="landing" id="landing">
  <div class="container">
    <div class="row">
      {% for post in paginator.posts %}
      <div class="landing-posts">
        <div class="inner">
          <a href="{{ site.subpath }}{{ post.url }}">
            <div class="title">{{ post.title }}</div>
          </a>
          <div class="excerpt">{{ post.excerpt }}</div>
          <div class="landing-post-meta">
            {% include landing_post-meta.html %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
