<div id="landing">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {% for post in site.posts limit:4 sort %}
        <div class="landing-posts">
          <a href="{{ site.url}}{{ site.baseurl }}{{ post.url }}">
            <div class="title">{{ post.title }}</div>
          </a>
          <div class="excerpt">{{ post.excerpt }}</div>
          <div class="post-meta">
            {% include landing_post-meta.html %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% include sidebar.html %}
    </div>
  </div>
</div>
