<!-- Pagination links
{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="}">Newer</a>
  </li>
  {% endif %} {% if paginator.next_page %}
  <li>
    <a href=">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <!-- Previous Page button -->
  <li>
    {% if paginator.previous_page %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo; Previous</a>
    {% else %}
    <span>
      &laquo; Previous
    </span>
    {% endif %}
  </li>
  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  {% elsif page == 1 %}
  <li class="active">
    <span>{{ page }}
      <span class="sr-only">(current)</span>
    </span>
  </li>
  {% else %}
    <a href="{{ site.url }}{{ site.baseurl}}{{ site.paginate_path | replace: ':num', page }}"> {{ page }}</a>
  </li>
   {% endif %}
   {% endfor %}
  <!-- Next Page button -->
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.next_page_path }}">&raquo;Next</a>
  </li>
</ul>
{% endif %}
