<div class="profile-pic">
  <img class="center-block" src="{{ site.subpath }}/assets/images/illustration.png" alt="{{ site.data.setting.name}} Illustration">
</div>
<div class="col-md-12">
  <div class="website_links">
    <div class="links">
      {% for item in site.data.settings.about.links %}
      <a href="{{ item.url}}">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="social_links">
    <ul>
      {% for item in site.data.settings.social %}
      <li>
        <a href="{{ item.url }}">
          <i class="fab {{ item.icon }} social-icon {{ item.color }}" aria-hidden="true"></i>
        </a>
      </li>{% endfor %}
    </ul>
  </div>
</div>
