// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Kanit", serif;
$second-font: "Work Sans", sans-serif;
$legal-font: "Times New Roman", Times, serif;

// Social Icons Color
$twitter-color: #1da1f2;
$twitch-color: #6441a5;
$youtube-color: #cd201f;
$github-color: #333;
$google-plus-color: #dd4b39;
$facebook-color: #3b5998;
$spotify-color: #1db954;
$linkedin-color: #0077b5;
$rss-color: #f26522;
$social-icon: #d4f3ff;

// Footer Text
$footer-color: #ffffff;
$footer-color_link: #f2f2f2;
$footer-background: #5b599c;
$footer-link_padding: 8px;

// Brand Color
$brand-color: #323149;
$brand-color-alt: #c9c8e6;
$brand-color-alt-2: #5b599c;

// Menu Links
$nav-bgDefault: rgba(50, 48, 73, 0.5);
$nav-bgHighlight: transparent;
$nav-colDefault: #ffffff;
$nav-colHighlight: #c9c8e6;
$nav-dropdown: true;
$nav-bgScroll: #ffffff;
$nav-bgScroll-Hightlight: #ffffff;
$nav-colScroll: #323149;
$nav-colScroll-Hightlight: #262555;

// illustration
$illustration-bg: #015274;

// Buttons
$button_background_effect_font: #ffffff;
$button_background_effect: #00709f;

// Label Tags
$label-tag-text: #015274;
$label-tag-text_hover: #5b599c;

// Content
$content-margin: 60px;
