// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Oswald", sans-serif;
$second-font: "Times New Roman", Times, serif;

// Social Icons Color
$twitter-color: #1da1f2;
$twitch-color: #6441a5;
$youtube-color: #cd201f;
$github-color: #333;
$google-plus-color: #dd4b39;
$facebook-color: #3b5998;
$spotify-color: #1db954;
$linkedin-color: #0077b5;
$social-icon: #d4f3ff;

// Footer Text
$footer-color: #ffffff;
$footer-color_link: #f2f2f2;
$footer-background: #696791;

// Footer Legal
$footer-color-legal: #000000;
$footer-color_link-legal: #3D3D3D;

// Brand Color
$brand-color: #323149;
$brand-color-alt: #262555;
$brand-color-alt-2: #67659b;

// Menu Links
$nav-bgDefault: transparent;
$nav-bgHighlight: transparent;
$nav-colDefault: #ffffff;
$nav-colHighlight: #ffffff;
$nav-dropdown: true;
$nav-bgScroll: #ffffff;
$nav-bgScroll-Hightlight: #ffffff;
$nav-colScroll: #323149;
$nav-colScroll-Hightlight: #262555;

// illustration
$illustration-bg: #015274;

// Buttons
$button_background_effect_font: #ffffff;
$button_background_effect: #00709f;

// Label Tags
$label-tag-text: #015274;
$label-tag-text_hover: #0093ce;
