@import url("https://fonts.googleapis.com/css?family=Kanit:400,700|Work+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Bitter|Fira+Sans");
.img-circle {
  border-radius: 50%;
}

.contentTop {
  margin-top: 60px;
}

.contentBottom {
  margin-bottom: 60px;
}

/**
 * Basic typography style for copy text
 */
@media (max-width: 768px) {
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block !important;
  }
  .navbar-logo > img {
    height: 50px !important;
  }
}

.navbar-logo > img {
  height: 32px;
}

.logo-mobile {
  display: none;
}

.navbar {
  background-color: rgba(50, 48, 73, 0.5);
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #a6a3ff;
}

.navbar .navbar-text {
  color: #ffffff;
}

.navbar .navbar-text a {
  color: #a6a3ff;
}

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
  color: #a6a3ff;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #a6a3ff;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: rgba(50, 48, 73, 0.5);
  border-color: transparent;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #a6a3ff;
  background-color: transparent;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: transparent;
}

.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #a6a3ff;
  background-color: transparent;
}

.navbar .navbar-toggle {
  border-color: transparent;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: transparent;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}

.navbar .navbar-link {
  color: #ffffff;
}

.navbar .navbar-link:hover {
  color: #a6a3ff;
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a6a3ff;
  }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a6a3ff;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a6a3ff;
  }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a6a3ff;
    background-color: transparent;
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a6a3ff;
  }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a6a3ff;
    background-color: transparent;
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a6a3ff;
  }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a6a3ff;
    background-color: transparent;
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #a6a3ff;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #a6a3ff;
  background-color: transparent;
}

.navbar-scroll {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
}

.navbar-scroll .navbar-brand {
  color: #323149;
}

.navbar-scroll .navbar-brand:hover, .navbar-scroll .navbar-brand:focus {
  color: #262555;
}

.navbar-scroll .navbar-text {
  color: #323149;
}

.navbar-scroll .navbar-text a {
  color: #262555;
}

.navbar-scroll .navbar-text a:hover, .navbar-scroll .navbar-text a:focus {
  color: #262555;
}

.navbar-scroll .navbar-nav .nav-link {
  color: #323149;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar-scroll .navbar-nav .nav-link:not(.disabled):hover, .navbar-scroll .navbar-nav .nav-link:not(.disabled):focus {
  color: #262555;
}

.navbar-scroll .navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-scroll .navbar-nav .dropdown-menu .dropdown-item {
  color: #323149;
}

.navbar-scroll .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar-scroll .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-scroll .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #262555;
  background-color: #ffffff;
}

.navbar-scroll .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #ffffff;
}

.navbar-scroll .navbar-nav .nav-item.active .nav-link, .navbar-scroll .navbar-nav .nav-item.active .nav-link:hover, .navbar-scroll .navbar-nav .nav-item.active .nav-link:focus, .navbar-scroll .navbar-nav .nav-item.show .nav-link, .navbar-scroll .navbar-nav .nav-item.show .nav-link:hover, .navbar-scroll .navbar-nav .nav-item.show .nav-link:focus {
  color: #262555;
  background-color: #ffffff;
}

.navbar-scroll .navbar-toggle {
  border-color: #ffffff;
}

.navbar-scroll .navbar-toggle:hover, .navbar-scroll .navbar-toggle:focus {
  background-color: #ffffff;
}

.navbar-scroll .navbar-toggle .navbar-toggler-icon {
  color: #323149;
}

.navbar-scroll .navbar-collapse,
.navbar-scroll .navbar-form {
  border-color: #323149;
}

.navbar-scroll .navbar-link {
  color: #323149;
}

.navbar-scroll .navbar-link:hover {
  color: #262555;
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #323149;
  }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #262555;
  }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #262555;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #323149;
  }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #262555;
  }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #262555;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #323149;
  }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #262555;
  }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #262555;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #323149;
  }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #262555;
  }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #262555;
    background-color: #ffffff;
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #323149;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #262555;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #262555;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .navbar-default .navbar-brand {
    color: #323149;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #262555;
  }
  .navbar-default .navbar-text {
    color: #323149;
  }
  .navbar-default .navbar-nav > li > a {
    color: #323149;
    line-height: 35px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #262555;
  }
  .navbar-default .navbar-nav > li > .nav-dropdown-menu {
    background-color: rgba(50, 48, 73, 0.5);
  }
  .navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a {
    color: #323149;
  }
  .navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a:focus {
    color: #262555;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li > .nav-dropdown-menu > li.divider {
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:focus {
    color: #262555;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #262555;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #262555;
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #323149;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #323149;
  }
  .navbar-default .navbar-link {
    color: #323149;
  }
  .navbar-default .navbar-link:hover {
    color: #262555;
  }
  .navbar-default .navbar-link > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-link > li > a:hover, .navbar-default .navbar-link > li > a:focus {
    color: #a6a3ff;
  }
  .navbar-default .navbar-link > .active > a,
  .navbar-default .navbar-link > .active > a:hover,
  .navbar-default .navbar-link > .active > a:focus {
    color: #a6a3ff;
    background-color: transparent;
  }
  .navbar-nav > li > a {
    padding-top: 16px;
  }
  .navbar-logo > img {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-bottom: 0.2em;
}

#navbar-close {
  color: #262555;
  width: 22px;
  height: 14px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Kanit", serif;
  font-size: 1.25em;
}

.dropdown-menu > li > a {
  font-family: "Kanit", serif;
  font-size: 1.25em;
}

footer {
  background-color: #5b599c;
}

footer .copyright {
  font-size: 1em;
  color: #ffffff;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 0;
}

footer .copyright a {
  color: #f2f2f2;
  text-decoration: none;
}

footer .copyright a:hover {
  color: white;
  text-decoration: none;
}

footer .footer-effect {
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
}

footer .items {
  padding-top: 50px;
}

footer .header {
  font-family: "Kanit", serif;
  font-weight: 700;
  color: #c9c8e6;
  font-size: 1.25em;
}

footer .header.left {
  font-family: "Work Sans", sans-serif;
  text-align: right;
}

footer .header.right {
  font-family: "Work Sans", sans-serif;
  text-align: left;
}

footer .link-list .links {
  font-size: 1.1em;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
}

footer .link-list .links:hover {
  color: #fefefe;
  text-decoration: none;
}

footer .link-list .links.active {
  color: #c9c8e6;
}

footer .link-list.left li {
  text-align: right;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

footer .link-list.right li {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

footer .link-list.right .rss-color {
  font-size: 1.15em;
}

@media (max-width: 768px) {
  footer .copyright {
    text-align: center;
  }
  footer .copyright span {
    display: none;
  }
}

.social-icon, .post-sidebar .social_links .social-icon, .about .social .social-icon {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #d4f3ff;
  text-align: center;
  margin-right: 10px;
  padding-top: 8px;
  border-radius: 50%;
}

.twitter-color {
  color: #1da1f2;
}

.twitter-color:hover {
  color: #0c85d0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.youtube-color {
  color: #dd4b39;
}

.youtube-color:hover {
  color: #c23321;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.google_plus-color {
  color: #dd4b39;
}

.google_plus-color:hover {
  color: #c23321;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.twitch-color {
  color: #6441a5;
}

.twitch-color:hover {
  color: #4e3380;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.github-color {
  color: #333;
}

.github-color:hover {
  color: #1a1a1a;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.facebook-color {
  color: #3b5998;
}

.facebook-color:hover {
  color: #2d4373;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.spotify-color {
  color: #1db954;
}

.spotify-color:hover {
  color: #168d40;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.linkedin-color {
  color: #0077b5;
}

.linkedin-color:hover {
  color: #005582;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.rss-color {
  color: #f26522;
}

.rss-color:hover {
  color: #d54d0d;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

/* Background */
.twitter-color_background {
  background-color: #1da1f2;
}

.twitter-color_background:hover {
  background-color: #0c85d0;
}

.youtube-color_background {
  background-color: #dd4b39;
}

.youtube-color_background:hover {
  background-color: #c23321;
}

.google-plus-color_background {
  background-color: #dd4b39;
}

.google-plus-color_background:hover {
  background-color: #c23321;
}

.twitch-color_background {
  background-color: #6441a5;
}

.twitch-color_background:hover {
  background-color: #4e3380;
}

.github-color_background {
  background-color: #333;
}

.github-color_background:hover {
  background-color: #1a1a1a;
}

.facebook-color_background {
  background-color: #3b5998;
}

.facebook-color_background:hover {
  background-color: #2d4373;
}

.spotify-color_background {
  background-color: #1db954;
}

.spotify-color_background:hover {
  background-color: #168d40;
}

.linkedin-color_background {
  background-color: #0077b5;
}

.linkedin-color_background:hover {
  background-color: #005582;
}

.rss-color_background {
  background-color: #f26522;
}

.rss-color_background:hover {
  background-color: #d54d0d;
}

.post-meta .meta-icons {
  color: #323149;
  font-size: 1.5em;
}

.post-meta .meta-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  display: inline;
}

.post-meta a {
  text-decoration: none;
}

.hero {
  height: 350px;
  background-color: black;
  background-image: url(../images/hero_bg.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.hero-profile {
  position: absolute;
  bottom: -85px;
  width: 100%;
}

.hero-profile-img {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.hero-profile-img img {
  background-color: white;
  border-radius: 100%;
  border: 4px solid #323149;
  width: 175px;
  height: 175px;
}

.page_header {
  color: white;
  height: 100%;
  margin: 0px;
}

.page_header .inner {
  background-color: transparent !important;
  padding-top: 125PX;
  padding-bottom: 75px;
}

.page_header .inner .header {
  font-family: "Kanit", serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
}

.page_header .background {
  background-color: #5b599c;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.post-sidebar .profile-pic img {
  background-color: #ffffff;
  border-radius: 100%;
  border: 4px solid #323149;
  width: 175px;
  height: 175px;
}

.post-sidebar .author {
  font-family: "Kanit", serif;
  font-size: 2em;
  font-weight: 700;
}

.post-sidebar .social_links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-sidebar .social_links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.post-sidebar .social_links .social-icon {
  background-color: transparent;
  padding-top: 0px;
  border-radius: 0px;
  margin-right: 10px;
}

.post-sidebar .social_links .last {
  margin-right: 0px;
}

.post-sidebar .websites_links {
  text-align: center;
}

.landing-posts {
  padding-bottom: 25px;
  padding-top: 25px;
  width: 75%;
  margin: 0 auto;
}

.landing-posts a {
  text-decoration: none;
}

.landing-posts .inner {
  padding: 50px;
  -webkit-box-shadow: 0px 9px 50px -22px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 9px 50px -22px rgba(0, 0, 0, 0.68);
  border: 1px solid #323149;
}

.landing-posts .landing-post-meta {
  padding-top: 25px;
}

@media (min-width: 1094px) {
  .landing-post .inner {
    padding: 40px;
  }
}

@media (min-width: 576px) {
  .landing-post .inner {
    padding: 10px;
  }
}

@media (min-width: 750px) {
  .landing-post .inner {
    padding: 10px;
  }
}

.about {
  margin-top: 100px;
}

.about .name,
.about .text {
  color: #000000;
  width: 40%;
  margin: 0 auto;
}

.about .name {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #323149;
}

.about .text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.15em;
  margin-bottom: 25px;
}

.about .other-links_disabled {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .social {
  text-align: right;
}

.about .social a {
  text-decoration: none;
}

.about .social ul {
  padding-left: 1em;
}

.about .social ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.about .social .social-icon {
  background-color: transparent;
  padding-top: 0px;
  border-radius: 0px;
  margin-right: 10px;
}

.about .links {
  text-align: left;
}

.about .links a {
  display: inline-block;
}

@media (max-width: 1000px) {
  .about .text {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .about .social {
    text-align: center;
  }
  .about .links {
    text-align: center;
  }
}

.comments .header {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-size: 2em;
}

.comments span .login, .comments span .signup {
  color: #323149;
}

.comments span .login:hover, .comments span .signup:hover {
  color: #c9c8e6;
}

.legal-text {
  font-size: 1.25em;
  font-family: "Times New Roman", Times, serif;
}

.legal-text a {
  color: #313131;
}

.legal-text a:hover {
  color: #717171;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
}

.last-modified {
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
}

.landing .container {
  padding-right: 25px;
  padding-left: 25px;
}

.landing-posts .title {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-size: 1.15em;
  color: #323149;
}

.landing-posts .title:hover {
  text-decoration: none;
  color: #c9c8e6;
}

.landing-posts .post-tags {
  display: inline;
}

.post .post-meta {
  margin-top: 32px;
  margin-bottom: 32px;
}

.categories .letter {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-size: 1.15em;
  margin-top: 32px;
  margin-bottom: 32px;
}

.categories .letter .name {
  font-size: 1em;
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
}
