// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background-color: $footer-background;

    .copyright {
        font-size: 1em;
        color: $footer-color;
        text-align: left;
        padding: 10px 0;
        margin-bottom: 0;

        a {
            color: $footer-color_link;
            text-decoration: none;
        }

        a:hover {
            color: lighten($footer-color_link, 15%);
            text-decoration: none;
        }
    }

    .footer-effect {
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    }

    .items {
        padding-top: 50px;
    }

    .header {
        font-family: $main-font;
        font-weight: 700;
        color: $brand-color-alt;
        font-size: 1.25em;

        &.left {
            font-family: $second-font;
            text-align: right;
        }

        &.right {
            font-family: $second-font;
            text-align: left;
        }
    }

    .link-list {
        .links {
            font-size: 1.1em;
            font-family: $second-font;
            color: #ffffff;

            &:hover {
                color: darken(#ffffff, 0.5);
                text-decoration: none;
            }
            &.active {
              color: $brand-color-alt;
            }
        }

        &.left {
            li {
                text-align: right;
                padding-top: $footer-link_padding;
                padding-right: $footer-link_padding;
                padding-bottom: $footer-link_padding;
            }
        }

        &.right {
            li {
                text-align: left;
                padding-top: $footer-link_padding;
                padding-bottom: $footer-link_padding;
                padding-left: $footer-link_padding;
            }

            .rss-color {
                font-size: 1.15em;
            }
        }
    }

    @media (max-width: 768px) {
        .copyright {
            text-align: center;

            span {
                display: none;
            }
        }
    }
}

.social-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: $social-icon;
    text-align: center;
    margin-right: 10px;
    padding-top: 8px;
    border-radius: 50%;
}
