// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background-color: $footer-background;

    .copyright {
        font-size: 1.15em;
        color: $footer-color;
        text-align: left;
        padding: 10px 0;
        margin-bottom: 0;

        a {
            color: $footer-color_link;
            text-decoration: none;
        }

        a:hover {
            color: lighten($footer-color_link, 15%);
            text-decoration: none;
        }
    }

    &.effect {
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    }

    .items {
        padding-top: 50px;
    }
}

.social-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: $social-icon;
    text-align: center;
    margin-right: 10px;
    padding-top: 8px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .footer {
        .copyright {
            text-align: center;

            span {
                display: none;
            }
        }
    }
}
