// -----------------------------------------------------------------------------
// This file contains all styles related to the social icons of the site/application.
// -----------------------------------------------------------------------------
.twitter-color {
    color: $twitter-color;

    &:hover {
        color: darken($twitter_color, 10%);
        transition: all 500ms;
    }
}

.youtube-color {
    color: $google_plus-color;

    &:hover {
        color: darken($google_plus-color, 10%);
        transition: all 500ms;
    }
}

.google_plus-color {
    color: $google_plus-color;

    &:hover {
        color: darken($google_plus-color, 10%);
        transition: all 500ms;
    }
}

.twitch-color {
    color: $twitch-color;

    &:hover {
        color: darken($twitch-color, 10%);
        transition: all 500ms;
    }
}

.github-color {
    color: $github-color;

    &:hover {
        color: darken($github-color, 10%);
        transition: all 500ms;
    }
}

.facebook-color {
    color: $facebook-color;

    &:hover {
        color: darken($facebook-color, 10%);
        transition: all 500ms;
    }
}

.spotify-color {
    color: $spotify-color;

    &:hover {
        color: darken($spotify-color, 10%);
        transition: all 500ms;
    }
}

.linkedin-color {
    color: $linkedin-color;

    &:hover {
        color: darken($linkedin-color, 10%);
        transition: all 500ms;
    }
}

.rss-color {
    color: $rss-color;

    &:hover {
        color: darken($rss-color, 10%);
        transition: all 500ms;
    }
}


/* Background */
.twitter-color_background {
    background-color: $twitter-color;

    &:hover {
        background-color: darken($twitter_color, 10%);
    }
}

.youtube-color_background {
    background-color: $google_plus-color;

    &:hover {
        background-color: darken($google_plus-color, 10%);
    }
}

.google-plus-color_background {
    background-color: $google-plus-color;

    &:hover {
        background-color: darken($google-plus-color, 10%);
    }
}

.twitch-color_background {
    background-color: $twitch-color;

    &:hover {
        background-color: darken($twitch-color, 10%);
    }
}

.github-color_background {
    background-color: $github-color;

    &:hover {
        background-color: darken($github-color, 10%);
    }
}

.facebook-color_background {
    background-color: $facebook-color;

    &:hover {
        background-color: darken($facebook-color, 10%);
    }
}

.spotify-color_background {
    background-color: $spotify-color;

    &:hover {
        background-color: darken($spotify-color, 10%);
    }
}

.linkedin-color_background {
    background-color: $linkedin-color;

    &:hover {
        background-color: darken($linkedin-color, 10%);
    }
}

.rss-color_background {
    background-color: $rss-color;

    &:hover {
        background-color: darken($rss-color, 10%);
    }
}
