// -----------------------------------------------------------------------------
// This file contains styles that are specific to the post page.
// -----------------------------------------------------------------------------
.post {
  .post-meta {
    margin-top: 32px;
  }
}
