// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.img-circle {
    border-radius: 50%;
}

.contentTop {
    margin-top: $content-margin;
}

.contentBottom {
    margin-bottom: $content-margin;
}
